<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.highfliers.high_fliers_android_hack2k21">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Highfliers_android_hack2k21">
        <activity android:name=".AnonymousSection.AnonymousCall"></activity>
        <activity android:name=".AnonymousSection.CreateAnonymousRoom" />
        <activity android:name=".RestrictedSection.CreateRestrictedActivity" />
        <activity android:name=".InterestSection.CreateInterestRoom" />
        <activity android:name=".LoginRegister.InterestActivity" />
        <activity android:name=".LoginRegister.VerificationActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".LoginRegister.SignUpActivity" />
        <activity android:name=".LoginRegister.LoginActivity" />
        <activity android:name=".LoginRegister.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>